
// ------- Common Variables -------

$menthe: #6EE7B7;
$turquoise: #2DD4BF;

// Additional Colors

$amber: #F59E0B;
$orange: #F97316;

$rose: #EC4899;
$fuchsia: #D946EF;

// ------- Card Colors -------

$card-bg: #D1FAE5;
$card-border: $turquoise;
$card-text: #0F172A;


// ------- Dark Mode - Normal Mode -------

$bg-dark: #0F172a;
$primary-dark: #6366F1;
$secondary-dark: #8B5CF6;
$accent-dark: #22D3EE;
$text-dark: #E2E8F0;

$button-bg-dark: $amber;
$button-text-dark: $text-dark;
$button-border-dark: $orange;


// ------- Light Mode -------

$bg-light: #F8FAFC;
$primary-light: #3B82F6;
$secondary-light: #9333EA;
$accent-light: #06B6D4;
$text-light: #1F2937;

$button-bg-light: $rose;
$button-text-light: $text-light;
$button-border-light: $fuchsia;
