@use "sass:color";

.page{
  min-height: 100vh;
  max-width: 60%;
  padding: 3rem clamp(1.5rem, 5vw, 6rem) 3rem; 
  margin: 0 auto; // Center the page horizontally
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 2rem;
    
    .card{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    background-color: $card-bg;
    border: 2px solid $card-border;
    color: $card-text;
    box-shadow: inset 0 0 0 0.5rem rgba($card-border, 0.1);

      .cardTitle{
        font-size: 1.25rem;
        text-align: center;
      }

      .cardDescription{
        font-size: 1rem;
        font-weight: 400;
      }
    }

    a{
          text-decoration: none;
          color: inherit;
    }
  }
}



.notLoggedInMessage{
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
}
