.page{
  min-height: 100vh;
  max-width: 1100px;
  background: $background;
  color: $foreground;
  padding: 3rem clamp(1.5rem, 5vw, 6rem) 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    .card{
    background: $card;
    border: 1px solid $border;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
  
      .cardTitle{
        font-size: 1.25rem;
        font-weight: 700;
        color: $primary;
        
      }

      .cardDescription{
        font-size: 1rem;
        font-weight: 400;
        color: $muted;
      }
    }


  }
}

