//TODO

.addMediaForm{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.insertionContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; // Go to next line (for mobile)

    @media (max-width: 600px) {
        flex-direction: column;
    }

    .input, .select{
        flex-grow: 1;
        font-size: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus{
            outline: none;
            border-color: #0070f3;
        }
    }

    .advancedToggle{
        background: none;
        border: none;
        color: #0070f3;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        margin: 0.8rem auto;
        text-align: center;

        &:hover{
            color: #005bb5;
        }
    }

    .textarea{
        width: 100%;
        min-height: 100px;
        font-size: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus{
            outline: none;
            border-color: #0070f3;
        }
    }

    .addButton{
        background-color: #333;
        color: white;
        border: 5px solid #333;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0rem auto;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: darken(#333, 10%);
        }

        &:disabled{
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}
