@use "sass:color";
//TODO

.buttonContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;

  .simpleButton{
      background-color: $button-background;
      color: $button;
      border: 5px solid $button;
      border-radius: 0.5rem;
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
        &:hover{
          background-color: color.adjust($button-background, $lightness: -10%);
        }
    }
}