

:root {
  --background: #{$bg-dark};
  --text: #{$text-dark};
  --primary: #{$primary-dark};
  --secondary: #{$secondary-dark};
  --accent: #{$accent-dark};
  --button-background: #{$button-bg-dark};
  --button-text: #{$button-text-dark};
  --button-border: #{$button-border-dark};
}

.light{
  --background: #{$bg-light};
  --text: #{$text-light};
  --primary: #{$primary-light};
  --secondary: #{$secondary-light};
  --accent: #{$accent-light};
  --button-background: #{$button-bg-light};
  --button-text: #{$button-text-light};
  --button-border: #{$button-border-light};
}

html, body { // Reset default margins and paddings
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

